#Panel {
  .container {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;

    .scheduleItem {
      margin: 16px;
    }

  }

  .panelMenu {
    width: 40px;
    min-height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    left: 12px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    border-radius: 100px;
    background-color: #2c2c2c2f;

    .panelMenuItem {
      width: 36px;
      height: 36px;

      display: flex;
      justify-content: center;
      align-items: center;

      opacity: 0.6;
      border-radius: 100%;

      transition: all ease 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 1;
        background-color: var(--light-color-transparent90);
      }

      &.active {
        opacity: 1;
        background-color: var(--light-color);
      }
    }

  }
}