.btn {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;

  &:disabled {
    background-color: var(--light-gray-color) !important;
    color: var(--gray-color) !important;
    cursor: not-allowed;
  }
}

.btn.primary.solid {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.btn.secondary.solid {
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

.btn.primary.outlined {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn.secondary.outlined {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.btn.small {
  font-size: 0.8rem;
  padding: 5px 10px;
}

.btn.large {
  font-size: 1.2rem;
  padding: 15px 20px;
}