:root {
  --primary-color: #F1F1F1;
  --secondary-color: #1D1D1D;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --light-color-transparent90: #f8f9fa90;
  --dark-color: #343a40;
  --light-gray-color: #989b9e;
  --dark-gray-color: #55585a;
  --gray-color: #6c757d;
  --gray-color-transparent90: #6c757d90;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 1em;
  --border-radius: 5px;
  --margin: 10px;
  --padding: 10px;
  --grid-columns: 12;
}

*,
button,
input {
  font-family: var(--font-family);
  box-sizing: border-box;
}

button {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: var(--info-color);
  font-weight: 600;
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* BREAKPOINTS */
/* xs */
.xs-1 {
  width: calc(100% * 1 / var(--grid-columns));
}

.xs-2 {
  width: calc(100% * 2 / var(--grid-columns));
}

.xs-3 {
  width: calc(100% * 3 / var(--grid-columns));
}

.xs-4 {
  width: calc(100% * 4 / var(--grid-columns));
}

.xs-5 {
  width: calc(100% * 5 / var(--grid-columns));
}

.xs-6 {
  width: calc(100% * 6 / var(--grid-columns));
}

.xs-7 {
  width: calc(100% * 7 / var(--grid-columns));
}

.xs-8 {
  width: calc(100% * 8 / var(--grid-columns));
}

.xs-9 {
  width: calc(100% * 9 / var(--grid-columns));
}

.xs-10 {
  width: calc(100% * 10 / var(--grid-columns));
}

.xs-11 {
  width: calc(100% * 11 / var(--grid-columns));
}

.xs-12 {
  width: 100%;
}

/* sm */
@media screen and (min-width: 600px) {
  .sm-1 {
    width: calc(100% * 1 / var(--grid-columns));
  }

  .sm-2 {
    width: calc(100% * 2 / var(--grid-columns));
  }

  .sm-3 {
    width: calc(100% * 3 / var(--grid-columns));
  }

  .sm-4 {
    width: calc(100% * 4 / var(--grid-columns));
  }

  .sm-5 {
    width: calc(100% * 5 / var(--grid-columns));
  }

  .sm-6 {
    width: calc(100% * 6 / var(--grid-columns));
  }

  .sm-7 {
    width: calc(100% * 7 / var(--grid-columns));
  }

  .sm-8 {
    width: calc(100% * 8 / var(--grid-columns));
  }

  .sm-9 {
    width: calc(100% * 9 / var(--grid-columns));
  }

  .sm-10 {
    width: calc(100% * 10 / var(--grid-columns));
  }

  .sm-11 {
    width: calc(100% * 11 / var(--grid-columns));
  }

  .sm-12 {
    width: 100%;
  }
}

/* md */
@media screen and (min-width: 960px) {
  .md-1 {
    width: calc(100% * 1 / var(--grid-columns));
  }

  .md-2 {
    width: calc(100% * 2 / var(--grid-columns));
  }

  .md-3 {
    width: calc(100% * 3 / var(--grid-columns));
  }

  .md-4 {
    width: calc(100% * 4 / var(--grid-columns));
  }

  .md-5 {
    width: calc(100% * 5 / var(--grid-columns));
  }

  .md-6 {
    width: calc(100% * 6 / var(--grid-columns));
  }

  .md-7 {
    width: calc(100% * 7 / var(--grid-columns));
  }

  .md-8 {
    width: calc(100% * 8 / var(--grid-columns));
  }

  .md-9 {
    width: calc(100% * 9 / var(--grid-columns));
  }

  .md-10 {
    width: calc(100% * 10 / var(--grid-columns));
  }

  .md-11 {
    width: calc(100% * 11 / var(--grid-columns));
  }

  .md-12 {
    width: 100%;
  }
}

/* lg */
@media screen and (min-width: 1280px) {
  .lg-1 {
    width: calc(100% * 1 / var(--grid-columns));
  }

  .lg-2 {
    width: calc(100% * 2 / var(--grid-columns));
  }

  .lg-3 {
    width: calc(100% * 3 / var(--grid-columns));
  }

  .lg-4 {
    width: calc(100% * 4 / var(--grid-columns));
  }

  .lg-5 {
    width: calc(100% * 5 / var(--grid-columns));
  }

  .lg-6 {
    width: calc(100% * 6 / var(--grid-columns));
  }

  .lg-7 {
    width: calc(100% * 7 / var(--grid-columns));
  }

  .lg-8 {
    width: calc(100% * 8 / var(--grid-columns));
  }

  .lg-9 {
    width: calc(100% * 9 / var(--grid-columns));
  }

  .lg-10 {
    width: calc(100% * 10 / var(--grid-columns));
  }

  .lg-11 {
    width: calc(100% *-11 / var(--grid-columns));
  }

  .lg-12 {
    width: 100%;
  }
}

/* xl */
@media screen and (min-width: 1920px) {
  .xl-1 {
    width: calc(100% * 1 / var(--grid-columns));
  }

  .xl-2 {
    width: calc(100% * 2 / var(--grid-columns));
  }

  .xl-3 {
    width: calc(100% * 3 / var(--grid-columns));
  }

  .xl-4 {
    width: calc(100% * 4 / var(--grid-columns));
  }

  .xl-5 {
    width: calc(100% * 5 / var(--grid-columns));
  }

  .xl-6 {
    width: calc(100% * 6 / var(--grid-columns));
  }

  .xl-7 {
    width: calc(100% * 7 / var(--grid-columns));
  }

  .xl-8 {
    width: calc(100% * 8 / var(--grid-columns));
  }

  .xl-9 {
    width: calc(100% * 9 / var(--grid-columns));
  }

  .xl-10 {
    width: calc(100% * 10 / var(--grid-columns));
  }

  .xl-11 {
    width: calc(100% * 11 / var(--grid-columns));
  }
  
  .xl-12 {
    width: 100%;
  }
}
